/* .container_first{
    margin-top : 50px;
    background : rgb(255, 255, 255);
    height : 500px;
}
.new_heading{
    margin : 15px 0px 0px 10px;
    font-size : 30px;
    text-align : center;
    box-shadow : 0px 2px 4px rgb(108, 95, 95);
    padding : 10px;
    transition : 2s;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.new_heading:hover{
    transition: 2s;
    background : linear-gradient(rgb(255, 254, 250),rgb(81, 162, 195))
} */

.spo_container{
    width : 100%;
    height : 500px;
    margin-top : 40px;
    
}


@media screen and (max-width : 480px){
    /* .container_first{
        height : 200px;
    }
    .new_heading{
        margin : 20px 0px 0px 0px;
        font-size : 25px;
        text-align : center;
        box-shadow : 0px 2px 4px rgb(108, 95, 95);
        padding : 10px;
        transition : 2s;
        font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .new_heading:hover{
        transition: 2s;
        background : linear-gradient(rgb(255, 254, 250),rgb(81, 162, 195))
    }
    
    .spo_container{
        width : 100%;
        height : 40px;
        margin-top : 10px;
    }
     */


}