.error_page{
    height : 90vh;
    width : 100%;
    background : yellow;
    background-image : url(https://drive.google.com/uc?export=download&id=19RpHSTGZNcARJAOr91jsjZ0UlRPQOu1W);
    background-size : 60ch;
    background-position: center;
    background-repeat : no-repeat;

}
